body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;

  font-family: sans-serif;

  & > * {
    z-index: 1;
    position: relative;

    &.canvas-wrapper {
      z-index: 0;
    }
  }
}

.canvas-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;

  & + * {
    margin-top: .5em;
  }
}

canvas, canvas + canvas {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
  margin-bottom: .5em;
}

form {

  &.light {
    color: white;
  }

  &.dark {
    color: black;
  }

  &.light,
  &.dark {
    input, button {
      color: black;
    }
  }

  & > * {
    opacity: .3;

    &:hover {
      opacity: 1.0;
    }
  }
}

.form-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  > * {
    margin-top: 0;

    + * {
      margin-left: 1em;
    }
  }

  input {
    flex-grow: 1;
  }
}

input {
  & ~ fieldset {
    display: none;
    margin: 1em 0 0;
  }

  &:checked ~ fieldset {
    display: block;
    flex: 0 0 100%;
  }
}

input[type=color] {
  height: 4em;
  max-width: 4em;
}
