$row-vertical-spacing: 0.75rem;
$label-horizontal-spacing: 0.5rem;

body {
  margin: 0;
  padding: 0;
  position: relative;

  font-family: sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: 0;
  padding: 1rem;

  & > * {
    z-index: 1;
    position: relative;
  }
}

* {
  box-sizing: border-box;

  & + * {
    margin-top: $row-vertical-spacing;
  }
}

hr {
  margin: 1rem 0;
  -webkit-margin-collapse: separate;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.canvas-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

canvas, canvas + canvas {
  margin: 0;
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  > * {
    flex-grow: 1;
    flex-basis: 0;

    margin-top: 0;
    margin-left: $label-horizontal-spacing;

    &:first-child {
      margin-left: 0;
    }
  }

  > input {
    &[type=radio],
    &[type=checkbox] {
      flex-grow: 0;
      flex-basis: auto;
      margin-left: 0;

      ~ input {
        margin-left: 1rem;
      }
    }

    &[type=range] {
      flex-grow: 100;

      ~ label {
        margin-left: $label-horizontal-spacing;
        flex-grow: 1;
        flex-basis: auto;
      }

      + label {
        order: -1;
        margin-left: 0;
        margin-right: $label-horizontal-spacing;
      }
    }

    &[type=number] + label {
      flex-grow: 0;
    }

    &[type=url] {
      flex-grow: 10;
    }

    &[type=color] {
      flex-grow: 2;
    }

  }

  legend + & {
    margin-top: 0.5rem;
  }
}

fieldset {
  > *:first-child {
    margin-top: $row-vertical-spacing;
  }
}

input {
  & ~ fieldset {
    opacity: 0.3;
    pointer-events: none;
    margin: 0.5rem 0 1rem;

    .form-row & {
      margin: 0.5rem 0 1rem;
      pointer-events: all;
    }

    *:last-child > &:last-child {
      margin-bottom: 0;
    }
  }

  &:checked ~ fieldset {
    opacity: 1;
  }

  &[type=radio],
  &[type=checkbox] {
    margin: 0;

    label + & {
      margin-left: 1em;
    }
  }

  &[type=color] {
    height: 2rem;
  }

  + label {
    margin-left: $label-horizontal-spacing;
  }
}

.dimmed {
  > * {
    opacity: 0.3;
    pointer-events: none;
  }

  .undimmed {
    opacity: 1;
    pointer-events: all;
  }
}

.a11y {
  position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(0px 0px 99.9% 99.9%);
	overflow: hidden;
	height: 1px;
	width: 1px;
	padding: 0;
	border: 0;
}

.theme-light {
  color: white;
}

.theme-dark {
  color: black;
}

.theme-light,
.theme-dark {
  input, button {
    color: black;
  }
}
